<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
    <title>Home Page</title>
  </head>
  <body>
   
   <h1>URL - Shortner</h1>
  <% if (id) { %>
   <p> URL Generated : http://localhost:8001/url/<%= id  %></p>
  <% } %>
   <div>
    <form method="POST" action = "/url">
      <label>Enter your original URL</label>
      <input type="text" 
      name = "url"
      placeholder="https://example.com">
      <button type="submit">Generate URL</button>
    </form>
   </div>
  </body>
</html>
